.header
  height: 90px
  position: sticky
  display: flex
  align-items: center
  justify-content: center
  background-color: rgb(255, 255, 255)
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px 0px
  z-index: 2
  text-align: center
  width: 100%

  .title span
    color: rgb(41, 189, 186)
