<span class="title">{{ title }}</span>
<div class="speed-box upload" [style.background-color]="backgroundColor">
  <div class="speed-icon"><i [class]="iconClass"></i></div>
  <div class="speed-info">
    <span class="speed-value">{{ speed }} </span>{{ unit }}
  </div>
</div>
