.title
  font-size: 1rem
  font-weight: bold
  margin-bottom: 4px
  color: #333
  display: block

.speed-box
  display: flex
  border-radius: 5px
  padding: 10px
  text-align: center
  position: relative
  width: calc(100% - 5px)
  align-items: center
  align-content: center
  padding: 4px 11px

.speed-icon
  margin-right: 10px
  color: #565e64

.speed-info
  font-size: 0.9rem
  color: #333

span.speed-value
  font-weight: bold

