<app-header></app-header>
<div class="wrapper">
  <label>Sort By:</label>
  <select
    class="select"
    [(ngModel)]="selectedSortOption"
    (change)="sortProducts()"
  >
    <option value="priceAsc">Price ascending</option>
    <option value="priceDesc">Price descending</option>
    <option value="downloadSpeedAsc">Download Speed ascending</option>
    <option value="downloadSpeedDesc">Download Speed descending</option>
    <option value="uploadSpeedAsc">Upload Speed ascending</option>
    <option value="uploadSpeedDesc">Upload Speed descending</option>
  </select>
  <div *ngFor="let tariff of sortedProducts; let id = index">
    <app-tariff-card [tariff]="tariff" [id]="id"></app-tariff-card>
  </div>
</div>

<router-outlet></router-outlet>
