@import '../styles.sass'

.wrapper
  margin: 0 auto
  width: 100%
  margin-top: 60px

.select
  height: 40px
  border: 1px solid #ccc
  border-radius: 4px
  padding: 0 10px
  font-size: 16px
  margin-bottom: 20px
  margin-left: 10px

@media (min-width: $small-screen) and (max-width: $medium-screen)


@media (min-width: $medium-screen)
  .wrapper
    width:1024px

