/* You can add global styles to this file, and also import other style files */
html, body
  margin: 0
  font-family: Roboto, "Helvetica Neue", sans-serif
  width: 100%

$small-screen: 768px
$medium-screen: 1024px
$large-screen: 1200px
