<div class="card">
  <p class="tariff-id">{{ id + 1 }}</p>
  <h2 class="tariff-name">{{ tariff.tariffName }}</h2>
  <div class="speed">
    <app-speed-detail
      [title]="'Download'"
      [speed]="tariff.speed.download.value"
      [unit]="tariff.speed.download.unit"
      [iconClass]="'fa fa-download'"
      [backgroundColor]="'#64c97336'"
    ></app-speed-detail>
    <app-speed-detail
      [title]="'Upload'"
      [speed]="tariff.speed.upload.value"
      [unit]="tariff.speed.upload.unit"
      [iconClass]="'fa fa-upload'"
      [backgroundColor]="'#f5a62336'"
    ></app-speed-detail>
  </div>

  <div class="detail">
    <ul>
      <li *ngFor="let detail of tariff.highlights">
        <span class="icon">&#10004;</span>{{ detail }}
      </li>
    </ul>
  </div>
  <div class="price-wraper">
    <p class="price">{{ tariff.currency }}{{ tariff.price }}</p>
    <app-button
      [label]="'To tariff >'"
      (clicked)="handleButtonClick()"
    ></app-button>
  </div>
</div>
