@import '../../../styles.sass'

.card
  background-color: #fff
  border-radius: 8px
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1)
  margin: 10px
  padding: 20px
  display: flex
  justify-content: space-between
  width: inherit
  align-items: center
  flex-direction: column
  gap: 20px
  &:hover
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2)

  .tariff-id
    display: none

  .tariff-name
    width: 250px
    font-size: 1.2rem
    margin: 0
    text-align: center

  ul
    list-style: none
    padding: 0
    margin: 0

    li .icon
      margin-right: 10px
      color: #64c973

.price
  text-align: center
  font-weight: 700

.detail
  display: none


.speed
  display: flex
  justify-content: space-between
  flex-direction: column
  gap: 10px

@media (min-width: $small-screen) and (max-width: $medium-screen)
 .card
   flex-direction: row

   .tariff-id
     display: block

   .tariff-name
     width: 200px
     text-align: left

@media (min-width: $medium-screen)
  .card
   flex-direction: row

   .detail
      display: block

   .tariff-id
     display: block

